
 
  

    .modal-content video {
        width: 100%;
        max-width: 100%;
        object-fit: fill;
        height: 37vh;
        overflow-y: auto;
    }
  video::-webkit-media-controls-fullscreen-button {
        display: none;
    }

    body {
        overflow-x: hidden;
        overscroll-behavior: contain;
    }

    @media (max-width: 768px) {
        .modal-bg {
            width: 100%;
            height: 100%;
        }

        .modal-content {
            width: 100%;
            height: 100%;
        }
    }
  

